
.key {
    position: relative;
    color: black;
    top: 300px;
    left: 30px;
    border-radius: .5rem;
    transition: all .07s ease;
    display: block;
    box-sizing: border-box;
    z-index: 2

}
.key-black{
    position: relative;
    color: white;
    top: 200px;
    left: 17px;
    z-index: 3;
}

.keys{
    display: block;
    position: relative;
    margin: 40px auto 0;
    cursor: none;
}

.keys {
    top: 50px;
}


h1 {

    font: bold 4.5em/1.5 Bebas, sans-serif;
    color: #5CA17C;
    font-size: 70px;
    text-transform: uppercase;
    background-image: linear-gradient(to bottom, #26BDA6, #FF9F65, white, dodgerblue);
    background-size: auto 250%;
    transition: background-position 0.5s;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 60px;
    background-position: 0 100%;
    text-align: center;
}

h1:hover {
        background-position: 0 0;
        cursor: pointer;
}


.key1 {

    border-radius: 10px;
    width: 70px;
    height: 350px;
    background:white;
    position:absolute;
    left: 25%;
    top: 40%;


}.key2 {

    border-radius: 10px;
    width: 70px;
    height: 350px;
    background: white;
    position: absolute;
    left: 30%;
    top:40%;
}

.key3 {

    border-radius: 10px;
    width: 70px;
    height: 350px;
    background: white;
    position:absolute;
    left: 35%;
    top:40%;
}
.key4 {

    border-radius: 10px;
    width: 70px;
    height: 350px;
    background: white;
    position:absolute;
    left: 40%;
    top:40%;
}
.key5 {

    border-radius: 10px;
    width: 70px;
    height: 350px;
    background: white;
    position:absolute;
    left: 45%;
    top:40%;
}
.key6 {

    border-radius: 10px;
    width: 70px;
    height: 350px;
    background:white;
    position:absolute;
    left: 50%;
    top:40%;
}
.key7 {

    border-radius: 10px;
    width: 70px;
    height: 350px;
    background:white;
    position:absolute;
    left: 55%;
    top:40%;
}
.key8 {

    border-radius: 10px;
    width: 70px;
    height: 350px;
    background: white;
    position:absolute;
    left: 60%;
    top:40%;
}
.key9 {

    border-radius: 10px;
    width: 70px;
    height: 350px;
    background: white;
    position: absolute;
    left: 65%;
    top: 40%;
}
.key10 {

    border-radius: 10px;
    width: 70px;
    height: 350px;
    background: white;
    position:absolute;
    left: 70%;
    top:40%;
}
.key11{
    border-radius:  10px;
    width: 50px;
    height: 250px;
    background: #1C1C1C;
    position: absolute;
    left: 425px;
    top: 40%;
    z-index:1;

}
.key12{
    border-radius:  10px;
    width: 50px;
    height: 250px;
    background: #1C1C1C;
    position: absolute;
    left: 500px;
    top :40%;
    z-index:1;
}
.key13{
    border-radius:  10px;
    width: 50px;
    height: 250px;
    background: #1C1C1C;
    position: absolute;
    left: 655px;
    top:40%;
    z-index:1;
}
.key14{
    border-radius:  10px;
    width: 50px;
    height: 250px;
    background: #1C1C1C;
    position: absolute;
    left: 730px;
    top:40%;
    z-index:1;
}
.key15{
    border-radius:  10px;
    width: 50px;
    height: 250px;
    background: #1C1C1C;
    position: absolute;
    left: 800px;
    top:40%;
    z-index:1;
}
.key16{
    border-radius:  10px;
    width: 50px;
    height: 250px;
    background: #1C1C1C;
    position: absolute;
    left:950px;
    top:40%;
    z-index:1;
}
.key17{
    border-radius:  10px;
    width: 50px;
    height: 250px;
    background: #1C1C1C;
    position: absolute;
    left: 1025px;
    top:40%;
    z-index:1;
}
html{
    background-image: url("hoa.png");
    height: 1000px;
    width: 100%;

    background-repeat: no-repeat;

}

h2{
    font: bold 4.5em/1.5 Bebas, "SimSun";
    color: dodgerblue;
    font-size: 70px;
    -webkit-background-clip: text;
    text-align: center;
}












